<!DOCTYPE html>
<html class="dark-theme" lang="{{ site.lang }}">

    <head>
        <meta charset="UTF-8">
        <title>VRM Display | {{ page.title }}</title>
        <link rel="icon" type="image/png" href="{{ '/assets/images/icon.png' | prepend: site.baseurl_root }}" />
        <meta content="width=device-width, initial-scale=1" name="viewport">


        <meta name="twitter:site" content="VRM Display" />
        <meta name="twitter:creator" content="あかりみち@Akarimichi"/>
        <meta name="twitter:card" content="summary_large_image" />
        <meta property="og:url" content="https://akarimichi.github.io/vrm-display-releases/" />
        <meta property="og:title" content="VRM Display" />
        <meta property="og:description" content="VRM display is a software for view your VRM files." />
        <meta property="og:image" content="https://akarimichi.github.io/vrm-display-releases/images/card-image.png" />
        
        <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap" rel="stylesheet">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/css/uikit.min.css" />
        <link rel="stylesheet" href="https://cdn.arshen.ir/micon/3.0.168/dist/micon/css/micon.min.css">
        
        <!-- UIkit JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit-icons.min.js"></script>
        
        <link rel="stylesheet" href="{{ '/assets/css/style.css' | prepend: site.baseurl_root }}" />
    </head>

    <body>

        <div class="navbar-ctn">
            <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
                <div class="uk-navbar-left">
                    <ul class="uk-navbar-nav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="update.html">Update</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-light banner-ctn uk-box-shadow-small">
            <img class="img-banner" src="{{ '/assets/images/banner.png' | prepend: site.baseurl_root }}">
            <div class="banner-bg"></div>
            <div class="banner-title-ctn uk-flex uk-flex-center uk-flex-middle">
                <h1 class="banner-title"><img class="logo" src="{{ '/assets/images/icon.png' | prepend: site.baseurl_root }}">&nbsp;<span>VRM Display</span></h1>
            </div>
        </div>

        {{content}}
        
        <div class="uk-flex uk-flex-center uk-flex-middle share-ctn">
            <a href="javascript:void(0);" class="uk-icon-button uk-margin-small-right btn-share uk-animation-scale-up" data-type="twitter" uk-icon="twitter"></a>
            <a href="javascript:void(0);" class="uk-icon-button uk-margin-small-right btn-share uk-animation-scale-up" data-type="facebook" uk-icon="facebook"></a>
        </div>

        <div class="uk-section uk-section-primary footer">
            <div class="uk-container">
        
                <div class="uk-grid-large uk-flex-middle uk-grid uk-flex-center uk-flex-middle">
                    <p class="uk-text-large">
                        ©2019 Made by <a href="https://twitter.com/akarimichi_">あかりみち@Akarimichi</a>
                    </p>
                </div>
        
            </div>
        </div>
        <script src="{{ '/assets/js/global.js' | prepend: site.baseurl_root }}"></script>
        
    </body>

</html>
